html {
	background-color: #555;
	width: 100%
}

.dropbtn {
	width: 30%;
	font-size: 1.5vw;
	font-family: cursive;
	background-color: #777;
	border:none;
	cursor:pointer;
}
.dropdown {
 	position: relative;
 	display: block;
 	text-align: center;
    margin: 0 auto;
 	
 }
.dropdown-content {
 	display: none;
    width: 100%;
 	text-align: center;
    margin: 0 auto;
    margin-top: 15px;



 }
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

div {
  margin: 0;
  padding: 0;
  background-color: #333;
  text-align: center;
}

a.Green {
	width: 15%;
	height: 230px;
	background-image: url(https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe_images/recipe-image-legacy-id--219539_11.jpg?itok=_o7CIbmV);
	background-size: 50%;
	background-position: center;
	background-size: cover;
	vertical-align: top;
}
a.Bacon {
	width: 15%;
	height: 230px;
	background-image: url(https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2016/12/bacon-chapati.jpg?itok=Y-ycMoDS);
	background-size: 50%;
	background-position: center;
	background-size: cover;
	vertical-align: top;
}
a.Pesto {
	width: 15%;
	height: 230px;
	background-image: url(https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2017/07/sausage-sandwich-with-pesto.jpg?itok=bdnW__9G);
	background-size: 50%;
	background-position: center;
	background-size: cover;
	vertical-align: top;
}

a.Mackerel {
	width: 15%;
	height: 230px;
	background-size: 50%;
	background-position: center;
	background-size: cover;
	vertical-align: top;
}


a.Green:hover {
  transform: scale(1.1);
  background-image: url(https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe_images/recipe-image-legacy-id--219539_11.jpg?itok=_o7CIbmV);
  font-weight: bold;
  opacity: 0.7;
  border-radius: 50%;
  transition: .5s ease;
  text-transform: uppercase;
}

a.Bacon:hover {
  transform: scale(1.1);
  background-image: url(https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2016/12/bacon-chapati.jpg?itok=Y-ycMoDS);
  font-weight: bold;
  opacity: 0.7;
  border-radius: 50%;
  transition: .5s ease;
  text-transform: uppercase;
}

a.Pesto:hover {
  transform: scale(1.1);
  background-image: url(https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2017/07/sausage-sandwich-with-pesto.jpg?itok=bdnW__9G);
  font-weight: bold;
  opacity: 0.7;
  border-radius: 50%;
  transition: .5s ease;
  text-transform: uppercase;
}
a.Mackerel:hover {
  transform: scale(1.1);
  background-image: url(https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2018/03/mackerel-club-sandwich.jpg?itok=nK2s1DY_);
  font-weight: bold;
  opacity: 0.7;
  border-radius: 50%;
  transition: .5s ease;
  text-transform: uppercase;
}

a:hover p {
	opacity: 1;
}

p {
  font-size: 1.5vw;
  text-align: center;
  font-family: cursive;
  opacity: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
  color: #ffff66;
}
