html {
      /*height: 100%;*/
      /*min-width: 100%;*/
}

body {
   background-color: rgb(0, 102, 102, 0.2);
}
/*Background colors*/

.navbar, input.signup, input.log, .dropdown-content, .bottom-container  {
  
  background-color: rgb(255, 255, 255);

}

/*Letter colors*/

a.left, a.right, p.left, hr#one, hr#two, input.submit  {
  color: rgb(255, 255, 255); 
}

/*Navigation bar components*/

.navbar {
  height: 80px;
  text-align: right;
}

.logo1 {
  height: 80px; 
  width: 7%; 
  float: left;
  margin-left: 13%;
}

/*Contact bar*/

.contacts {
  float: left;
  margin-top: 0.5%;
  height: 40%;
  width: 20%;
  margin-left: 45px;
  position: relative;

}

#phone {
  height: 25px;
  width: 25px;
  float: left;
  margin-top: 15px;
}

#inst {
  height: 23px;
  width: 25px;
  float: left;
  margin-top: 15px;
  margin-left: 10px;
}

span.contacts {
  float: left;
  margin-top: 18px;
  margin-left: 5px;
  color: #000000;
  text-align: center;
  width: 30%;
  font-family: Whitney-SemiBold, Whitney;
}

/*Search bar*/

.search-box {
  margin-top: 15px;
  text-align: center;  
  height: 30px;
  padding: 10px;
  width: 20%;
  margin-left: 10%;
  border-radius: 50px;
  background-color: rgb(238, 238, 238);
  float: left;
}

.search-btn {
  color: rgb(238, 238, 238);
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 30%;
  display: flex;
  position: relative;
  display: inline-block;
}

.loupe {
  position: relative;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 5px;
  float: left;
  height: 23px;
  width: 23px;
}

.search-txt {
  position: relative;
  float: left;
  height: 30px;
  border: none;
  background-color: rgb(238, 238, 238);
}

/*Drop-down menu*/

button.profile, button.wishlist, button.bag {
  height: 30px;
  width: 30px;
  float: left;
  margin-top: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border:none;
  margin-bottom: 26px;
  margin-bottom: rgb(0, 153, 153);
  cursor: pointer;
  outline: none;
}

button.profile {
  margin-left: 25px;
  background-image: url(http://localhost/php/Rush00/homepage/icons/profile3.png);
}

button.wishlist {
  margin-left: 40px;
  background-image: url(http://localhost/php/Rush00/homepage/icons/wishlist2.png);
  
}

button.bag {
  height: 40px;
  width: 40px;
  margin-top: 20px;
  margin-left: 50px;
  padding-bottom: 20px;
  padding-top: 5px;
  background-image: url(http://localhost/php/Rush00/homepage/icons/bag3.png);
}

p.dropmenu {
  margin: 0;
  position: absolute;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 5px;
  float: left;
  font-size: 14px;
  text-align: left;
  margin-bottom: 5px;
  color: rgb(0, 64, 64);
  overflow: hidden;
}

input.signup {
  height: 30px;
  max-width: 200px;
  min-width: 70px;
  top: 50px;
  position: absolute;
  cursor: pointer;
  font-family: Whitney-SemiBold, Whitney;
  border-style: groove;
  border-color: rgb(238, 238, 238, 0.5);
  display: block;
  font-weight: 900;
  color: rgb(31, 61, 61);
  margin-left: 40px;
  float: left;
}

input.log {
  height: 30px;
  width: 70px;
  max-width: 80px;
  position: absolute;
  top: 50px;
  cursor: pointer;
  font-family: Whitney-SemiBold, Whitney;
  border-style: groove;
  border-color: rgb(238, 238, 238, 0.5);
  display: block;
  font-weight: 900;
  color: rgb(0, 64, 64);
  margin-left: 140px;
}

input.log:hover, input.signup:hover {
  border-color: rgb(0, 64, 64, 0.6);
}

.actionArrow {
  display: none;
  width: 58px;
  height: 4px;
  margin-top: 51px;
  background-color:  rgb(0, 64, 32);
  margin-left: -20px;
}

.desktop-actions {
  height: 80px;
  text-align: center;
  width: 20%;
  margin-right: 5%;
  float: right;
}

.menu1, .menu2, .menu3 {
  height: 30px;
  text-align: center;
  width: 30px;
  margin-right: 5%;
  float: left;
}
 
.dropdown-content {
  display: none;
  width: 250px;
  min-height: 100px;
  margin-left: 10px;
  position: relative;
  z-index: 2;
}

.menu1:hover .dropdown-content {
  display: inline-block;
}
.menu1:hover .actionArrow {
  display: inline-block;
}
.menu2:hover .actionArrow {
  display: inline-block;
}
.menu3:hover .actionArrow {
  display: inline-block;
  margin-left: -15px;
}
.dropdown-content {
  animation: fadeEffect 0.5s;
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/*Main area*/

.container {
  width: 100%;
  background: linear-gradient(
    to left,
    rgba(0,0,0, 0.7),
    rgba(0,0,0, 0.7)
  ), url(http://localhost/php/Rush00/homepage/icons/back1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  background-position: center;
  min-height: 840px;
  background-color: hsla(0, 0%, 100%, 0.20);
  background-blend-mode: overlay;
  background-attachment: scroll; 
}

.sidebar {
  background-color: rgb(255, 255, 255, 0.8);
  box-sizing: border-box;
  position: relative;
  width: 10%;
  float: left;
  margin-left: 20%;
  height: 700px;
  margin-top: 25px;
  border-right: solid;
  border-color: rgb(255, 255, 255, 0.6);
  z-index: 1;
  overflow: hidden;
  scroll-behavior: smooth;
}

.sidebar a, .dropdown-btn, .tablinks1 {
  padding: 40px 8px 6px 16px;
  text-decoration: none;
  font-size: 21px;
  color: rgb(0, 64, 64);
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  font-family: Whitney-SemiBold, Whitney;
}

a {
text-decoration: none;
color: rgb(0, 64, 64);
}

.sidebar:hover, .dropdown-btn:hover, button.tablinks:hover {
  color: #f1f1f1;
}

.dropdown-container {
  display: none;
  margin-left: 13px;
  min-width: 150px;
}

.fa-caret-down {
  float: right;
  padding-right: 70px;
  padding-top: 1px;
  color: (0, 128, 128, 1);
}

#Catalog:hover .dropdown-container {
  display: inline-block;
}
#Blog:hover .dropdown-container {
  display: inline-block;
}
button.tablinks, button#tablinks {
  display: block;
  background-color: rgb(238, 238, 238, 0.5);
  font-family: Whitney;
  font-size: 18px;
  min-width: 160px;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  min-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
button.AddtoDB {
  background-color: rgb(238, 238, 238, 0.5);
  font-family: Whitney;
  font-size: 18px;
  min-width: 160px;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  min-height: 20px;
  margin-top: 20px;
  margin-left: 125px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}
button.AddtoDB {
  min-width: 100px;
  position: absolute;
  bottom: 40px;
  right: 198px;
  z-index: 3;
}

.picture {
  margin: 0 !important;
  margin-top: 20px !important;
  background-color: rgb(238, 238, 238, 0.5);
  font-family: Whitney;
  font-size: 16px;
  min-width: 100px;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  height: 30px;
  margin-left: 125px;
  /*padding-top: 10px;
  padding-bottom: 10px;*/
}
button.tablinks:hover {
  background-color: rgb(224, 224, 224, 0.5);
}
 button.imgAdd:active,  button.AddtoDB:active, .picture:active {
  background-color: rgb(200, 200, 200, 0.8);
 } 
  button.AddtoDB:active {
  background-color: rgb(200, 200, 200, 1);
 } 
input {
  outline: none;
}
.textarea {
  width: 100%;
  height: 20%;
  position: relative;
  background-color: inherit;
}
.input {
  display: inline-block;
  margin-top: -30px;
}
.inputarea {
  margin-top: 20px;
  margin-left: 12%;
}
.inputNames {
  height: 220px;
  margin-top: -30px;
  max-width: 150px !important;
  display: inline-block;
}
.tabcontent {
  display: none;
}

.main-container {
  background-color: rgb(255, 255, 255, 0.8);
  box-sizing: border-box;
  position: relative;
  width: 49%;
  float: left;
  height: 700px;
  margin-top: 25px;
  overflow-y: auto;
}

.item {
  width: 280px;
  height: 270px;
  border: none;
  text-align: center;
  display: flex;
  text-decoration: none;
  outline: none;
  border: none;
  position: relative; 
  cursor: pointer;
}
.items {
  border: none;
  background-color: rgb(0, 64, 0, 0.2);
  text-align: center;
  display: flex;
  position: relative; 
  height: 325px;
  width: 280px;
  margin-bottom: 2px;
  margin-left: 15px;
  margin-top: 15px;
  z-index: 1;
}

button.like {
  background-image: url(http://localhost/php/Rush00/homepage/icons/like.png) !important;
  background: transparent;
  background-size: cover;
  border: none;
  position: absolute;
  z-index: 2;
  margin-left: 70%;
  margin-top: 280px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  outline: none;
}
button.cart {
  background-image: url(http://localhost/php/Rush00/homepage/icons/cart.png) !important;
  background: transparent;
  background-size: cover;
  border: none;
  position: absolute;
  z-index: 2;
  margin-left: 85%;
  margin-top: 280px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  outline: none;
}

#description {
  text-align: left;
  max-height: 50px;
  position: relative;
  margin-left: -265px;
  max-width: 150px;
  min-width: 150px;
  margin-top: 285px;
}

#info {
  text-align: left;
  margin-left: 15px;
  max-width: 880px;
  font-size: 22px;
  text-indent: 20px;
  margin-top: 5%;
}

#link {
  width: 280px;
  height: 270px;
}

button.like:hover {
  background-image: url(http://localhost/php/Rush00/homepage/icons/liked.png) !important;
}
button.cart:hover {
  background-image: url(http://localhost/php/Rush00/homepage/icons/cart1.png) !important;
}
.wrapper {
  min-width: 310px;
  min-height: 325px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 3px;
  margin-top: 3px;
}

.tabcontent, .imgContainer {
  animation: fadeEffect 0.5s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}




/*Authentication*/

form {
  width: 50%;
  position: relative;
  margin-left: 25%;
}

.authentication-form {
  min-width: 25%;
  max-height: 1000px;
  display: block;
  margin-left: 35%;
  margin-top: 5%;
  position: absolute;
  overflow: hidden;
  background-color: rgb(244, 232, 229, 0.5);
}

input.login {
  height: 40px;
  width: 100%;
  float: left;
  margin-top: 10px;
  color: rgb(0, 64, 32);
}

input.submit {
  position: relative;
  margin-top: 10%;
  width: 102%;
  height: 30px;
  background-color: rgb(31, 61, 32, 0.6);
  font-family: Whitney-SemiBold, Whitney;
  font-size: 14px;
  border-style: groove;
  border-color: rgb(31, 61, 32, 0.7);
  cursor: pointer;
}

hr#one {
  width: 100%;
  margin-top: 45%;
}
hr#two {
  width: 100%;
  margin-top: 60%;
}

h1.header {
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  font-family: Whitney-SemiBold, Whitney;
 /* font-style: italic;*/
}

p.left {
  margin-top: 40px;
  width: 210px;
  font-size: 13px;
  float: left;
  margin-right: 60px;
  margin-left: 40px;
}

p.right {
  margin-top: 40px;
  width: 150px;
  font-size: 13px;
  float: left;
}

p.left {
  color: rgb(0, 64, 32);
}

p.center {
  margin-top: 40px;
  width: 200px;
  font-size: 13px;
  float: left;
  margin-left: 33%;
}

p {
  font-family: Whitney-SemiBold, Whitney;
  text-decoration: none;
  color: rgb(0, 64, 32);
  max-width: 280px;
  cursor: default;

}



.bottom-container {
  position: relative;
  height: 80px;
  text-align: right;
}


/*Order part*/

button.navigation {
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  font-size: 21px;
  color: rgb(0, 64, 64);
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  font-family: Whitney-SemiBold, Whitney;

}


/*.item-description-image {
  border: none;
  
  text-align: center;
  display: block;
  position: relative; 
  height: 500px;
  width: 500px;
  margin-top: 30px;
  margin-left: -20px;

}*/

.imgContainer, .item-description-image {
    border: none;
  
  text-align: center;
  display: block;
  position: relative; 
  height: 500px;
  width: 500px;
  margin-top: 30px;
  margin-left: -22px;
}


#wrapper_1 {
  margin-left: 70px;
  height: 658px;
  width: 400px;
  position: absolute;
}

#wrapper_2 {
  float: right;
  width: 350px;
  height: 640px;
  background-color: rgb(0, 64, 64, 0.4);
  margin-top: 30px;
  margin-right: 25px;
}
#wrapper_3 {
  float: right;
  width: 300px;
  height: 640px;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 20px;
  position: relative;

}
.imgOpen {

  position: relative;
  bottom: 100%;
  height: 60px;
  width: 60px;
  margin-left: 55px;
  margin-top: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  outline: none;
}

.imgOpen:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 2px 10px 40px grey;

}







/*button.like {
  background: transparent;
  position:absolute;
  width: 50px;
  height: 50px;
  border: transparent;
  z-index: 2;
  outline: none;
  top: 0;
}*/
/*img.like {
  position:relative;
  margin: 0 auto;
  display: block;
  z-index: 10;
}

img.liked {
display: none;
}*/

/*img.liked:hover {
  display: block;
}
*/
/*
a.rollover {
  background-image: url(http://localhost/php/Rush00/homepage/icons/like.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
  display: block;

}
a.rollover:hover {
  background-image: url(http://localhost/php/Rush00/homepage/icons/liked.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}*/

/*button.like:hover img.liked {

  position:absolute;
  display: block;
  top: 0;


}*/




/*<div class="scrollbar" id="style-1">
      <div class="force-overflow"></div>
    </div>
*/


/*#style-1::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
.scrollbar
{
  margin-left: 30px;
  float: left;
  height: 300px;
  width: 65px;
  background: #F5F5F5;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.force-overflow
{
  min-height: 450px;
}*/
/*button.tablinks:hover .tabcontent {
  display: block;
}

#Mugs:hover #Mugs{
  display: block;
}
*/

/*.logo {
  margin: 0;
  padding: 0;
  margin-right: 90%;
  mar
  background-image: url(./logo.png);
  text-align: left;
}*/
/*.shops {
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
  }
*/
  

/*a.Log {
  height: 30px;
  width: 70px;
  max-width: 80px;
}

a.Sign {
  height: 30px;
  max-width: 200px;
  min-width: 70px;
}*/


/*div.login {
  margin: 0;
  margin-right: 13%;
  text-align: left;
}*/

/*a.dropdown-content {
  background-color: rgb(255, 255, 255);
  display: block;
}*/

/*a.actionArrow {
  width: 58px;
  height: 4px;
  margin-top: 51px;
  margin-left: -13px;
  margin-right: 10px;
}
*/


/*a.dropdown-container  {
  float: right;
  width: 250px;
  position: relative;
  display: block;
  overflow: hidden;
}*/