html {
	background-color: #505050;
}
#navbar {
  
  width: 74%; /*1424px */
  height: 140px;
  background-color: #909090;
  box-shadow: 10px 10px 8px #070505;
  margin: 0 auto;
  border-radius: 10px;  
}
div {
	text-align: center;

}
#sidebar {

  width: 7.3%; /*140px*/
  height: 426px;
  background-color: #909090;
  box-shadow: 10px 10px 8px #070505;
  border-radius: 10px;
  display: inline-block;
  float: left;
  margin-right: 1.6%;
  margin-left: 14%;
  margin-top: 1%;
}
#main{
  width: 54%; /*1020px*/
  height: 579px;
  background-color: #909090;
  box-shadow: 10px 10px 8px #070505;
  border-radius: 10px;
  display: inline-block;
  /*margin-top: 1%;*/
}
#sidebar_r {
  width: 7.3%; /*140px*/
  height: 426px;
  background-color: #909090;
  box-shadow: 10px 10px 8px #070505;
  border-radius: 10px;
  display: inline-block;
  float: right;
  margin-left: 1.6%;
  margin-right: 14%;
  /*margin-top: 1%;*/

}
.day_of_the_42 {
	height: 84%; /*118px*/
	width: 30%; /*426px*/
	float: left;
	margin-top: 10px;
    margin-left: 20px;
}

.close {
  height: 14%; /*20px*/
  width: 1.4%; /*20px*/
  float: right;
  margin-top: 110px;
  margin-right: 12px;
  margin-left: 3px;
  margin-bottom: 5px;
  text-align: right;
}

.reload {
  height: 14%; /*20px*/
  width: 1.4%; /*20px*/
  float: right;
  margin-top: 10px;
  margin-right: -22px;
  margin-left: 3px;
  margin-bottom: 98px;
  text-align: right;
}

.loupe {
  height: 91%; /*128px*/
  width: 15.7%; /*224px*/
  float: right;
  margin-top: 29px;
  text-align: right;
}
.cluster {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px; 
  height: 96.7%; /*560px*/
  width: 98%; /*1005px*/
}
 .book {
  height: 90px;
  width: 65px;
  margin-top: 10%;
 }
 .towel {
 	height: 12%; /*34px;*/
 	width: 50%; /*47px*/
 	margin-top: 5px;
 }
.arrow {
height: 16%; /*34px;*/
  width: 50%; /*47px*/
  margin-top: 15px;
}
.take {
height: 16%; /*34px;*/
  width: 50%; /*47px*/
  margin-top: 5px;
}
.oeil {
height: 16%; /*34px;*/
  width: 50%; /*47px*/
  margin-top: 10px;
}
.outil {
height: 16%; /*34px;*/
  width: 50%; /*47px*/
  margin-top: 10px;
}
.chat {
height: 16%; /*34px;*/
  width: 50%; /*47px*/
  margin-top: 5px;
}

.brick0 {
  height: 22px; 
  width: 22px; 
  }

.wall {
  height: 70px; 
  width: 120px;
  background-image: url(brick.jpg);
  margin: 0 auto;
  
}

area {
  outline: none;
}
