html{
	width: 100%
    height: auto;
	background: linear-gradient(
    to left,
    rgba(255,255,255, 0.9),
    rgba(0,0,0, 0.8)
  ), url("gettyimages-26417951-e1454875660534.jpg");
	background-repeat: no-repeat;
	background-size: 95%;
	background-position: left;
	background-attachment: fixed;
	box-sizing:100%;
}

/*div.Head {
	background-color: #0f0f0f;
	height: 40%;
	width: 60%;
	margin: 0 auto;
	

}
div.Mendel {
	display: inline-block;
	float: left;
	width: 50%;
	height: 40%
}*/
h1{
	text-align: center;
	color: #000000;
	text-shadow: 2px 2px 8px #ffffff;
	font-family:Impact;
	font-size: 3vw;
	margin: 0 auto;

	
}

h2{
	text-align: center;
	color: #000000;
	text-shadow: 2px 2px 8px #ffffff;
	font-family:Impact;
	font-size: 2vw;
	margin: 0 auto;
	
	
}


table {
  height: auto;
  width: 50%;
  text-align: center;
  empty-cells: hide;
  margin: 0;
  padding: 0.2px 3px;
 
}
th, td {
  margin: 0;
  padding: 0.2px 3px;
  font-size: 1vw;
  white-space:nowrap;
  
}



table.center {
	margin-left: auto;
	margin-right: auto;
}

tr {
	height: auto;
    width: 50%;
	background-color: #f0f0f0;
	
}

div.topright {
	text-align: right;
	font-size: 1vw;
}

div.middle {
	text-align: center;
	font-size: 1vw;
}

div.lowmiddle {
	text-align: center;
	font-size: 0.8vw;
}

div.lowleft {
	text-align: left;
	font-size: 0.8vw;
}

.transmetal {
	background-color: #3385ff;
	background-clip: border-box;
	opacity: 0.5;
}
.raremetal {
	background-color: #99e6ff;
	background-clip: border-box;
	opacity: 0.5;
}
.nonmetal {
	background-color: #ffd480;
	background-clip: border-box;
	opacity: 0.5;
}
.alkalimetal {
	background-color: #00b33c;
	background-clip: border-box;
	opacity: 0.5;
}
.alkalimetal {
	background-color: #00b33c;
	background-clip: border-box;
	opacity: 0.5;
}
.alkaliearth {
	background-color: #ff6666;
	background-clip: border-box;
	opacity: 0.5;
}
.other {
	background-color: #cc0099;
	background-clip: border-box;
	opacity: 0.5;
}
.inertelements {
	background-color: #6600cc;
	background-clip: border-box;
	opacity: 0.5;
}
.halogens {
	background-color: #ffff99;
	background-clip: border-box;
	opacity: 0.5;
}
@media screen and (max-width: 700px) {

	h1, h2{
		text-align: left;
	}

	#periodic_elements {
		display: block;
		width: 20%;
		float: left;
		margin-top: 20px;


	}
	tr {
		display: block;
	height: auto;
    width: 10%;
    background-color: transparent;
	}
	table.center {
		display: block;
		margin-left: 10px;
	}
	th, td {
		background-color: #f0f0f0;
  }


}