 html {
    	min-height: 100%;
  }

   body {
     background: linear-gradient(#ff9999, #ffcccc);
     background-color: #ff9999
  }
   
   h1 {
	   color: #ffffff;
	   text-shadow: 2px 2px 4px #000000;
	   text-align: center; 
	}

   h2 { 
   	color: #ffffff;
   	text-shadow: 2px 2px 8px #FFcccc;
  }

   p {
    color: #ffffff;
    font-size: 18px;
    font-family: monospace;
    text-align: right;
  }

  .shops {
   	color: #ffffff;
	  text-shadow: 2px 2px 4px #000000;
  }

  